{% extends "base.html" %}

<title>{% block title %} {{name_title}}| History {% endblock %}</title>


{% block content %}

        <div  class="container mx-auto min-h-screen space-y-1" style="max-width: 1700px;important;">
            {% include "snippets/navbar.html" %}
           

            <section id="history" class="max-w-8xl min-h-screen mx-auto bg-white shadow-sm border border-solid border-gray-300 p-3 rounded-sm">
                <section class="p-4">
                    <div class="mx-auto md:px-12 lg:px-18 max-w-7xl">
                        <h1 class="text-4xl font-semibold tracking-wide text-gray-900 lg:text-6xl text-balance">
                           UoNAA — Full Chronological History & Milestones
                        </h1>
                        <p class="mt-4 text-lg font-light text-black text-balance">
                            Join a growing network of over 290,000 University of Nairobi graduates shaping the future of Kenya, Africa, and the world. The UoN Alumni Association brings together past students through lifelong connections, professional growth, and a shared pride in Kenya's leading university.
                        </p>
                    </div>

                    <div class="mt-10 mx-auto md:px-12 lg:px-18 max-w-7xl">
                        <ol class="relative space-y-8 before:absolute before:top-0 before:left-1/2 before:h-full before:w-0.5 before:-translate-x-1/2 before:rounded-full before:bg-gray-200">
                            
                            <!--Right milestone -->
                                <li class="group relative grid grid-cols-2 odd:-me-3 even:-ms-3">
                                    <div class="relative flex items-start gap-4 group-odd:flex-row-reverse group-odd:text-right group-even:order-last">
                                    <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>

                                    <div class="-mt-2">
                                        <time class="text-xs/none font-medium text-gray-700">28 March 2025</time>

                                        <h3 class="text-lg font-bold text-gray-900">20th Anniversary</h3>

                                        <p class="mt-0.5 text-balance text-gray-700">
                                           The Association celebrated two decades of existence since its founding in February 2005 — a significant milestone marking 20 years of connecting over 300,000 alumni, growing to 17 chapters, and supporting thousands of students through scholarships and mentorship. 
                                        </p>
                                    </div>
                                    </div>

                                    <div aria-hidden="true"></div>
                                </li>
                            <!--End of right milestone -->   

                            <!--Left milestone -->
                                <li class="group relative grid grid-cols-2 odd:-me-3 even:-ms-3">
                                    <div class="relative flex items-start gap-4 group-odd:flex-row-reverse group-odd:text-right group-even:order-last">
                                    <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>

                                    <div class="-mt-2">
                                        <time class="text-xs/none font-medium text-gray-700">27 September 2025  </time>

                                        <h3 class="text-lg font-bold text-gray-900">2nd Annual Alumni Walk</h3>

                                        <p class="mt-0.5 text-balance text-gray-700">
                                            The 2nd edition of the UoN Alumni Walk was held, building on the inaugural walk's success which had raised KES 2.4 million. The 2025 walk aimed to raise KES 50 million towards the Scholarship Fund, with partners including NCBA Bank, the Office of the Auditor General, and Mhasibu on board.
                                        </p>
                                    </div>
                                    </div>

                                    <div aria-hidden="true"></div>
                                </li>
                            <!--End of left milestone -->
                                                       
                            
                            <!--Right milestone -->
                                <li class="group relative grid grid-cols-2 odd:-me-3 even:-ms-3">
                                    <div class="relative flex items-start gap-4 group-odd:flex-row-reverse group-odd:text-right group-even:order-last">
                                    <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>

                                    <div class="-mt-2">
                                        <time class="text-xs/none font-medium text-gray-700">4 May 2024</time>

                                        <h3 class="text-lg font-bold text-gray-900"> Inaugural Alumni Scholarship Walk</h3>

                                        <p class="mt-0.5 text-balance text-gray-700">
                                           UoNAA launched its first-ever 10 km charity walk with the ambitious aim of increasing annual scholarship funding from KES 2 million to KES 50 million. NCBA Bank presented an initial contribution of KES 250,000 at the launch event. 
                                        </p>
                                    </div>
                                    </div>

                                    <div aria-hidden="true"></div>
                                </li>
                            <!--End of right milestone -->   

                            <!--Left milestone -->
                                <li class="group relative grid grid-cols-2 odd:-me-3 even:-ms-3">
                                    <div class="relative flex items-start gap-4 group-odd:flex-row-reverse group-odd:text-right group-even:order-last">
                                    <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>

                                    <div class="-mt-2">
                                        <time class="text-xs/none font-medium text-gray-700">5 April 2019 </time>

                                        <h3 class="text-lg font-bold text-gray-900">17th Chapter Launched (Mombasa — First Regional Chapter)</h3>

                                        <p class="mt-0.5 text-balance text-gray-700">
                                            UoNAA officially launched the Mombasa Campus Alumni Chapter at a colourful Gala event at the Voyager Beach Resort, presided over by Lamu Governor Fahim Twaha. It became the 17th chapter to be launched and the first regional chapter since UONAA's inception.
                                        </p>
                                    </div>
                                    </div>

                                    <div aria-hidden="true"></div>
                                </li>
                            <!--End of left milestone -->
                           
                            <!--Right milestone -->
                                <li class="group relative grid grid-cols-2 odd:-me-3 even:-ms-3">
                                    <div class="relative flex items-start gap-4 group-odd:flex-row-reverse group-odd:text-right group-even:order-last">
                                    <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>

                                    <div class="-mt-2">
                                        <time class="text-xs/none font-medium text-gray-700">30 November 2019</time>

                                        <h3 class="text-lg font-bold text-gray-900"> Annual General Meeting (Education)</h3>

                                        <p class="mt-0.5 text-balance text-gray-700">
                                            UoNAA held its Annual General Meeting at the University of Nairobi's Taifa Hall.
                                        </p>
                                    </div>
                                    </div>

                                    <div aria-hidden="true"></div>
                                </li>
                            <!--End of right milestone -->                               
                            
                            <!--Left milestone -->
                                <li class="group relative grid grid-cols-2 odd:-me-3 even:-ms-3">
                                    <div class="relative flex items-start gap-4 group-odd:flex-row-reverse group-odd:text-right group-even:order-last">
                                    <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>

                                    <div class="-mt-2">
                                        <time class="text-xs/none font-medium text-gray-700">2018</time>

                                        <h3 class="text-lg font-bold text-gray-900">New Constitution</h3>

                                        <p class="mt-0.5 text-balance text-gray-700">
                                            A new UoNAA constitution was unveiled in 2018, modernising the governance framework of the Association.
                                        </p>
                                    </div>
                                    </div>

                                    <div aria-hidden="true"></div>
                                </li>
                            <!--End of left milestone -->,

                            <!--Right milestone -->
                                <li class="group relative grid grid-cols-2 odd:-me-3 even:-ms-3">
                                    <div class="relative flex items-start gap-4 group-odd:flex-row-reverse group-odd:text-right group-even:order-last">
                                    <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>

                                    <div class="-mt-2">
                                        <time class="text-xs/none font-medium text-gray-700">30 April 2015 </time>

                                        <h3 class="text-lg font-bold text-gray-900"> 13th Chapter Launched (Education)</h3>

                                        <p class="mt-0.5 text-balance text-gray-700">
                                            UoNAA launched the Education Alumni Chapter at a colourful event at the Nairobi Safari Club — the 13th chapter established by the Association, representing the College of Education and External Studies.
                                        </p>
                                    </div>
                                    </div>

                                    <div aria-hidden="true"></div>
                                </li>
                            <!--End of right milestone -->                            
                            
                            <!--Left milestone -->
                                <li class="group relative grid grid-cols-2 odd:-me-3 even:-ms-3">
                                    <div class="relative flex items-start gap-4 group-odd:flex-row-reverse group-odd:text-right group-even:order-last">
                                    <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>

                                    <div class="-mt-2">
                                        <time class="text-xs/none font-medium text-gray-700">2012 </time>

                                        <h3 class="text-lg font-bold text-gray-900">Secretariat Transition</h3>

                                        <p class="mt-0.5 text-balance text-gray-700">
                                            Mr. Bernard D. Njuguna was replaced by Mr. Johnson Ireri Kinyua in 2012 as Administrator of the Secretariat.
                                        </p>
                                    </div>
                                    </div>

                                    <div aria-hidden="true"></div>
                                </li>
                            <!--End of left milestone -->

                            <!--Right milestone -->
                                <li class="group relative grid grid-cols-2 odd:-me-3 even:-ms-3">
                                    <div class="relative flex items-start gap-4 group-odd:flex-row-reverse group-odd:text-right group-even:order-last">
                                    <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>

                                    <div class="-mt-2">
                                        <time class="text-xs/none font-medium text-gray-700">2010</time>

                                        <h3 class="text-lg font-bold text-gray-900"> Scholarship & Research Fund Established</h3>

                                        <p class="mt-0.5 text-balance text-gray-700">
                                        The Scholarship Fund started in 2010, and to date over KES 80 million has been disbursed to bright and needy students to cater for tuition fees, accommodation, and personal effects.
                                        </p>
                                    </div>
                                    </div>

                                    <div aria-hidden="true"></div>
                                </li>
                            <!--End of right milestone -->

                            <!--Left milestone -->
                                <li class="group relative grid grid-cols-2 odd:-me-3 even:-ms-3">
                                    <div class="relative flex items-start gap-4 group-odd:flex-row-reverse group-odd:text-right group-even:order-last">
                                    <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>

                                    <div class="-mt-2">
                                        <time class="text-xs/none font-medium text-gray-700">5 February 2005</time>

                                        <h3 class="text-lg font-bold text-gray-900">Official Launch</h3>

                                        <p class="mt-0.5 text-balance text-gray-700">
                                        UONAA was officially launched on February 5, 2005, repealing University Statutes XXXVIII (Convocation), officiated by the then Minister of Education, Prof. George Saitoti. Dr. Betty M. Gikonyo was appointed the first Chairperson, with Mr. Bernard D. Njuguna as the first Administrator. 
                                        </p>
                                    </div>
                                    </div>

                                    <div aria-hidden="true"></div>
                                </li>
                            <!--End of left milestone -->

                            <!--Right milestone -->
                                <li class="group relative grid grid-cols-2 odd:-me-3 even:-ms-3">
                                    <div class="relative flex items-start gap-4 group-odd:flex-row-reverse group-odd:text-right group-even:order-last">
                                    <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>

                                    <div class="-mt-2">
                                        <time class="text-xs/none font-medium text-gray-700">2004</time>

                                        <h3 class="text-lg font-bold text-gray-900"><strong> The Genesis</strong></h3>

                                        <p class="mt-0.5 text-balance text-gray-700">
                                        The University of Nairobi Council Sub-Committee headed by Dr. Betty M. Gikonyo was created to consider the possibility of launching an Alumni Association, with the first tasks being drafting of objectives and a constitution. The university granted formal permission to use its protected names, and the registration process was completed.
                                        </p>
                                    </div>
                                    </div>

                                    <div aria-hidden="true"></div>
                                </li>
                            <!--End of right milestone -->
                        </ol>
                    </div>


                </section>                      
            </section>

            {% include "snippets/footer.html" %}
        </div>

    

{% endblock content %}