{% extends "base.html" %}

<title>{% block title %} {{name_title}} | Contact Us {% endblock %}</title>

{% block content %}

        <div  class="container mx-auto min-h-screen space-y-1" style="max-width: 1700px;important;">
            {% include "snippets/navbar.html" %}
            {% include "snippets/banner.html" %}

            <section id="contact_us" class="max-w-7xl min-h-screen mx-auto bg-white shadow-sm border border-solid border-gray-300 p-3 rounded-sm">
                <section class="">
                    <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl">
                    
                        <div>
                        <h1 class="text-4xl font-semibold tracking-wide text-gray-900 lg:text-6xl text-balance">Contact Us</h1>
                        <p class="mt-4 text-base font-light text-black text-balance"> Control and added security. With decentralization, users have more control over their data and transactions, and the platform is less susceptible to malicious attacks.</p>
                    </div>
                </section>

              
                {% comment %} <section class="mx-auto ">
                    <div class="container px-6 m-auto">
                        <div class="grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12">
                            <div class="col-span-4 lg:col-span-6 bg-amber-200">
                                <p>Contact info</p>
                            </div>
                            <div class="col-span-4 lg:col-span-6 bg-blue-400">
                                Contact form
                            </div>
                        </div>
                    </div>
                </section> {% endcomment %}
                <section class="">
                    <div class="max-w-7xl mx-auto py-5 px-4 sm:px-6 lg:py-5 lg:px-8">
                        <div class="mt-5 lg:mt-10">
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                                <div class="rounded-lg overflow-hidden">
                                    <iframe 
                                        class="w-full"
                                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.313229287662!2d36.8076789!3d-1.2764109!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1b9c01e69503%3A0xc3b23e9bb4fc14fc!2sUniversity%20of%20Nairobi%20Alumni%20Association!5e0!3m2!1sen!2ske!4v1716916820421!5m2!1sen!2ske"
                                        width="100%" height="560" style="border:0;" allowfullscreen="" loading="lazy">
                                    </iframe>
                                </div>
                                <div>
                                    <div class="max-w-full mx-auto rounded-lg overflow-hidden">
                                        <div class="px-6 py-4">
                                            <h3 class="text-lg font-medium text-gray-900">Our Address</h3>
                                            <p class="mt-1 text-gray-600">{{address}}</p>
                                            <strong>Postal: </strong><p class="mt-1 text-gray-600"> {{postal}}</p>
                                        </div>
                                        <div class="border-t border-gray-200 px-6 py-4">
                                            <h3 class="text-lg font-medium text-gray-900">Hours</h3>
                                            <p class="mt-1 text-gray-600">Monday - Friday: 8am - 5pm</p>
                                            <p class="mt-1 text-gray-600">Weekends & Public Holidays: Closed</p>
                                        </div>
                                        <div class="border-t border-gray-200 px-6 py-4">
                                            <h3 class="text-lg font-medium text-gray-900">Contact</h3>
                                            <p class="mt-1 text-gray-600"><span class="font-bold">Website:</span>  {{website}}</p>
                                            <p class="mt-1 text-gray-600"><span class="font-bold">Email:</span>  {{email}}</p>
                                            <p class="mt-1 text-gray-600"><span class="font-bold">Phone:</span>  {{landline}} </p>
                                            <p class="mt-1 text-gray-600"><span class="font-bold">Mobile Phone:</span>   {{mobile}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
               

            </section>

            {% include "snippets/footer.html" %}
        </div>

{% endblock content %}

