<section class="relative w-full bg-[url('https://res.cloudinary.com/doh3hvrdz/image/upload/v1/media/gallery/uploads/2026/04/27/old_pic_uon_great_court_yl18hh')] bg-cover bg-top min-h-screen bg-no-repeat rounded-md overflow-x-hidden flex items-center">
  <div class="absolute inset-0 bg-gradient-to-t from-gray-900/50 to-gray-900/20"></div>

  <div class="relative w-full px-4 py-8 sm:px-6 lg:px-8">
    <div class="w-full text-center">
      <h1 class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-semibold tracking-wide text-white leading-tight break-words">
        University of Nairobi Alumni Association
      </h1>

      <p class="text-white mt-4 max-w-lg mx-auto sm:text-xl/relaxed">
        Our Alumni, Our Strength <br> 
        <span class="text-base text-yellow-400">Est. 2005</span>
      </p>

      <div class="mt-8 flex flex-wrap gap-4 justify-center">
        <a href=""
           class="block w-full rounded bg-blue-500 px-12 py-3 text-sm font-medium text-white shadow hover:bg-blue-700 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto">
          JOIN US
        </a>
        <a href=""
           class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-blue-700 shadow focus:outline-none focus:ring active:text-blue-500 sm:w-auto">
          ABOUT US
        </a>
      </div>
    </div>
  </div>
</section>